* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

a {
    color: lightblue;
}

a:hover {
    color: aliceblue;
}

.header {
    padding: 60px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: #ffffff;
}

.header2 {
    position: absolute;
    top: 22px;
    float: left;
    width: 35%;
    padding: 10px;
    margin-left: -20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
}

.header2 h1 {
    display: inline-block;
    float: right;
    margin-right: 30px;
    font-size: 48px;
    color: black;
}

.header div {
    position: absolute;
    top: 48px;
    right: 0;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.header div ul {
    vertical-align: middle;
    list-style-type: none;
    margin-right: 50px;
}

.header div ul li {
    display: inline-block;
    margin-left: 35px;
}

.banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/stockbanner.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid black;
}

.banner2 {
    position: absolute;
    top: 240px;
    right: 30px;
    width: 35%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: #ffffff;
    border: 3px solid black;
    border-radius: 20px;
}

.banner2 h2 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.AM-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.AMleftBox {
    width: 22%;
    height: 150px;
    font-size: 40px;
    padding-right: 1%;
    color: black;
    border-right: 5px solid black;
    text-align: right;
}

.AMrightBox {
    width: 74.6%;
    height: 150px;
    font-size: 30px;
    margin-left: 1%;
    color: black;
}

.WK-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.WKleftBox {
    width: 22%;
    height: 462px;
    font-size: 40px;
    padding-right: 1%;
    color: black;
    border-right: 5px solid black;
    text-align: right;
}

.WKrightBox-container {
    display: flex;
    flex-wrap: wrap;
    width: 72.6%;
    height: 450px;
    font-size: 40px;
    margin-left: 1%;
    color: black;
    /* border: 2px solid black; */
}

.WorkBox1 {
    width: 99.4%;
    height: 150px;
    font-size: 40px;
    margin: 0px 0px 4px 0px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.WorkBox1:hover {
    border: 10px dotted orange;
    cursor: pointer;
}

.smallBanner1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/smallbanner1.avif");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 0;
}

.smallBanner1extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
    text-align: center;
}

.WorkBoxOther {
    width: 49.5%;
    height: 150px;
    font-size: 40px;
    margin: 4px 4px 0px 0px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.WorkBoxOther:hover {
    border: 10px dotted orange;
    cursor: pointer;
}

.smallBanner2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/stockbannerblack.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.smallBanner2extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
    text-align: center;
}

.smallBanner3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/stockbannerdiamond.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.smallBanner3extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
    text-align: center;
}

.smallBanner4 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/stockbannerpc.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.smallBanner4extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
    text-align: center;
}

.smallBanner5 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/stockbannerpurple.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.smallBanner5extra {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 0px 10px 0px 10px;
    z-index: 1;
    text-align: center;
}

.CM-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.CMleftBox {
    width: 22%;
    height: 75px;
    font-size: 40px;
    padding-right: 1%;
    color: black;
    border-right: 5px solid black;
    text-align: right;
}

.CMrightBox {
    width: 72.6%;
    height: 75px;
    font-size: 40px;
    margin-left: 1%;
    color: black;
    overflow: hidden;
}

.CMrightBox ul {
text-align: center;
}

.CMrightBox ul li {
    display: inline-block;
    padding: 15px;
}

.CMrightBox ul li a {
    color: black;
}

.CMrightBox ul li a:hover {
    color: blue;
}
    
@media only screen and (max-width: 1120px) {

    .WorkBox1 {
        width: 99.4%;
        height: 300px;
        font-size: 40px;
        margin: 0px 0px 4px 0px;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
    }

    .WorkBoxOther {
        width: 99.4%;
        height: 150px;
        font-size: 40px;
        margin: 4px 4px 0px 0px;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
    }

    .WKleftBox {
        width: 22%;
        height: 912px;
        font-size: 40px;
        padding-right: 1%;
        color: black;
        border-right: 5px solid black;
        text-align: right;
    }

}